asgiref==3.7.2
attrs==24.2.0
black==24.4.2
blinker==1.9.0
cachetools==5.4.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
coverage==7.5.3
distlib==0.3.8
dj-rest-auth==6.0.0
Django==4.2.5
django-crispy-forms==2.3
django-environ==0.11.2
django-push-notifications==3.1.0
djangorestframework==3.13.1
docopt==0.6.2
drf-spectacular==0.27.2
drf-standardized-errors==0.14.1
factory-boy==3.3.0
Faker==27.0.0
filelock==3.13.1
flake8==7.0.0
Flask==3.1.0
google-api-core==2.19.1
google-auth==2.33.0
google-cloud-core==2.4.1
google-cloud-secret-manager==2.20.2
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
grpc-google-iam-v1==0.13.1
grpcio==1.65.4
grpcio-status==1.65.4
idna==3.7
inflection==0.5.1
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
MarkupSafe==3.0.2
mccabe==0.7.0
mypy-extensions==1.0.0
mysqlclient==2.2.4
num2words==0.5.13
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pathspec==0.12.1
pipenv==2023.11.15
platformdirs==4.1.0
plotly==5.20.0
pluggy==1.5.0
proto-plus==1.24.0
protobuf==5.27.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.11.1
pyflakes==3.2.0
pytest==8.2.2
pytest-django==4.8.0
pytest-factoryboy==2.7.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
referencing==0.35.1
requests==2.31.0
rpds-py==0.20.0
rsa==4.9
six==1.16.0
sqlparse==0.4.4
tenacity==8.2.3
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
virtualenv==20.25.0
Werkzeug==3.1.3
